<div class="container-center-horizontal">
  <form class="frame-2 screen" name="form1" action="form1" method="post">
    <div class="frame-1">
      <div class="frame-3">
        <div class="overlap-group4">
          <div class="overlap-group">
            <div class="rectangle-1" id="rectangle-1"></div>
            <img class="image-from-rawpixel-id-4010411-jpeg-1" src="./assets/images/wood.png" />
            <img class="output-onlinepngtools-2" src="./assets/images/paint2.png" />
            <img class="optimur-ouverture-1-1" src="./assets/images/whoweare.jpg" />
            <div class="title-element">
              <div class="text-2 ptserif-normal-bracken-45px">Qui sommes-nous ?</div>
            </div>
            <div class="text-element-1">
              <div class="text-3 ptserif-normal-bracken-24px">
                Duis ut tincidunt nisl. Vestibulum sed pulvinar turpis, at eleifend enim. Sed ut mauris sapien. Maecenas
                at lacus nec lectus posuere viverra. Suspendisse potenti. Vivamus in sem non libero elementum rhoncus.
                Aenean non quam pharetra, vestibulum odio eget, molestie mi. Phasellus elit quam, suscipit eu porttitor
                eu, vestibulum in metus. Praesent ultricies nisi sodales interdum posuere. Pellentesque ac tincidunt
                elit. In eget purus eget erat molestie dictum. Sed bibendum mattis nisi, sed mattis dui pharetra
                lobortis.
              </div>
            </div>
          </div>
          <div class="overlap-group1" id="home">
            <img class="output-onlinepngtools-1" src="./assets/images/paint1.png" />
            <div class="rectangle-2"></div>
            <h1 class="zem-climbing animate-enter">zem climbing</h1>
            <img class="x932491c94298d80bd4c88da83501863f-1" src="./assets/images/welcome.png" />
          </div>
          <div class="contact ptserif-normal-bracken-24px" id="contact">
            <div class="flex-col">
              <div class="title-element-1">
                <div class="ccntact ptserif-normal-bracken-45px">Contact</div>
              </div>
              <div class="text-element-container">
                <div class="text-element">
                  <div class="text ptserif-normal-bracken-24px">Email: myadress@gmail.com</div>
                </div>
                <div class="text-element">
                  <div class="text ptserif-normal-bracken-24px">Téléphone: 0745207854</div>
                </div>
              </div>
              <div class="text-element-2">
                <div class="text ptserif-normal-bracken-24px">Pour nous contacter:</div>
              </div>
            </div>
            <div class="flex-row">
              <div class="text-element-3">
                <div class="text-4">Nom* :</div>
              </div>
              <input type="text" id="name" name="user_name" class="input" />
              <div class="text-element-4">
                <div class="text-1">Prénom* :</div>
              </div>
              <input class="input-1" type="text" id="firstName" name="user_fisrstName" class="input" />         
            </div>
            <div class="overlap-group3">
              <div class="text-element-5">
                <div class="text-1">Email* :</div>
              </div>
              <input class="input-2" type="email" id="mail" name="user_mail" />
            </div>
            <div class="overlap-group2">
              <div class="text-element-6">
                <div class="text-5">Message* :</div>
              </div>
              <textarea class="input-3" id="msg" name="user_message"></textarea>
            </div>
            <a href="javascript:SubmitForm('form1')" class="align-self-flex-end">
              <div class="button">
                <div class="overlap-group-1">
                  <div class="rectangle-4"></div>
                  <div class="text-element-7">
                    <div class="text-6 ptserif-bold-bracken-29px">Envoyer</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="menu">
      <div class="zem-climbing-1 animate-enter1">ZEM CLIMBING</div>
      <a href="#home">
        <div class="menu-element">
          <div class="accueil ptserif-bold-bracken-29px">Accueil</div>
        </div>
      </a>
      <div class="menu-element-container">
        <a href="#contact">
          <div class="menu-element-1">
            <div class="text-7 ptserif-bold-bracken-29px">Contact</div>
          </div>
        </a><a href="#rectangle-1">
          <div class="menu-element-2">
            <div class="text-8 ptserif-bold-bracken-29px">Qui sommes-nous</div>
          </div>
        </a>
      </div>
    </div>
  </form>
