.ptserif-normal-bracken-24px {
  color: $bracken;
  font-family: $font-family-pt_serif;
  font-size: $font-size-m;
  font-weight: 400;
  font-style: normal;
}

.redrose-normal-bittersweet-36px {
  color: $bittersweet;
  font-family: $font-family-red_rose;
  font-size: $font-size-l2;
  font-weight: 400;
  font-style: normal;
}

.ptserif-bold-bracken-29px {
  color: $bracken;
  font-family: $font-family-pt_serif;
  font-size: $font-size-l;
  font-weight: 700;
  font-style: normal;
}

.redrose-normal-white-33px {
  color: $white;
  font-family: $font-family-red_rose;
  font-size: $font-size-s;
  font-weight: 400;
  font-style: normal;
}

.ptserif-normal-bracken-45px {
  color: $bracken;
  font-family: $font-family-pt_serif;
  font-size: $font-size-xxl;
  font-weight: 400;
  font-style: normal;
}

.rochester-regular-normal-black-27px {
  color: $black;
  font-family: $font-family-rochester-regular;
  font-size: $font-size-m;
  font-weight: 400;
  font-style: normal;
}

.rochester-normal-black-27px {
  color: $black;
  font-family: $font-family-rochester;
  font-size: $font-size-m;
  font-weight: 400;
  font-style: normal;
}
