
$black: rgba(0, 0, 0, 1);
$bracken: rgba(76, 45, 5, 1);
$metallic-sunburst: rgba(147, 107, 54, 1);
$bittersweet: rgba(255, 103, 103, 1);
$white: rgba(255, 255, 255, 1);

$font-size-s: 33px;
$font-size-m: 24px;
$font-size-m: 27px;
$font-size-l: 29px;
$font-size-xxl: 45px;
$font-size-xxxl: 64px;
$font-size-l2: 36px;

$font-family-cinzel_decorative: "Cinzel Decorative";
$font-family-pt_serif: "PT Serif";
$font-family-red_rose: "Red Rose";
$font-family-rochester: "Rochester";
$font-family-rochester-regular: "Rochester-Regular";

